doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title About | A Global Language
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Alegreya+SC:500|Alegreya:400,400i,700&display=swap" rel="stylesheet")
    link(rel="icon" href="/favicon.svg")

body

  header(id="header")
    nav
      a(href="/" id="home")
        b A Global Language
      a(href="/about") About

  div(id="about")
    h1 About
    p English is one of the most widely spoken languages in the world. At the same time, as a language, it is also one of the most varied, ever-changing, and confusing to learn.
    p A Global Language is an interactive visualisation tool that explores the etymological history of the English language. Where do all the words in English come from, and how do they get here? There are two main goals for this ongoing project: one, to create a more visually engaging and exploratory educational tool about language and etymology; and two, to think about how language evolution parallels developments in world history, and to highlight the variety of world Englishes.
    p Find issues or want to contribute? Check out the project on #[a(href="https://github.com/whykatherine/agloballanguage") GitHub]!