doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title A Global Language
    link(rel='stylesheet', href='/stylesheets/style.css')

body
  
  form(method="POST" action="/" class="search")
    h1 A Global Language
    input(type="text" name="word_input")
    input(type="submit" value="Look up")