doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title A Global Language
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Alegreya+SC:500|Alegreya:400,400i,700&display=swap" rel="stylesheet")

body

  header(id="header")
    nav
      a(href="/" id="home")
        b A Global Language
      a(href="/about") About
  
  form(method="POST" action="/" class="search")
    input(type="text" name="word_input" id="word-input" autofocus)
    input(type="submit" value="Look up" id="submit")