*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #F7F8F3;
  color: #402100;
  font-family: "Alegreya", serif;
  font-size: 10px;
  line-height: 1.5;
}
  @media (min-width: 1000px) {
    body {
      font-size: 1.1em;
    }
  }

a {
  color: #3285CA;
  border-bottom: 1px currentColor;
  text-decoration: none;
}

#header {
  position: absolute;
  top: 0;
  padding: 1em;
  display: flex;
  z-index: 1;
}

#home {
  margin-right: 1.5em;
}

#about {
  max-width: 100%;
  margin: 20px;
  padding: 1em;
}
  @media (min-width: 1000px) {
    #about {
      width: 40%;
      margin: 150px;
    }
  }

.search,
.entries {
  position: absolute;
  z-index: 1;
}

.search {
  top: 10%;
  left: 0;
  right: 0;
  min-width: 300px;
  max-width: 40%;
  margin: auto;
  box-shadow: 1px 1px 10px rgba(94, 53, 11, 0.1);
}

.search input {
  padding: 1em;
  font-family: "Alegreya", serif;
  border: 0;
  border-radius: 0;
}
  @media (min-width: 1000px) {
    .search input {
      font-size: 1.2em;
    }
  }

#word-input {
  width: calc(100% - 6em);
  background-color: #ece5d4;
  color: #402100;
}

#submit {
  width: 6em;
  background-color: #402100;
  color: #ece5d4;
  font-weight: bold;
}

#submit:hover {
  cursor: pointer;
}

#result {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 70%;
  height: 11em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1;
  opacity: 0.65;
  z-index: 1;
}
  @media (min-width: 1000px) {
    #result {
      width: 50%;
    }
  }

#word {
  height: 1.2em;
  margin: 0;
  font-size: 3em;
  font-style: italic;
  letter-spacing: 5px;
}

#definition {
  width: 40%;
  height: 2.08em;
  margin: 0 auto;
  display: -webkit-box;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
}
  @media (min-width: 1000px) {
    #definition {
      width: 30%;
    }
  }

.entries {
  top: 0;
  /* bottom: 75px; */
  bottom: 0;
  /* left: 50px; */
  left: 10%;
  width: 200px;
  max-width: 35%;
  height: 200px;
  /* padding: 20px 30px; */
  padding: 10px 20px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
  overflow: scroll;
}
  @media (min-width: 1000px) {
    .entries {
      width: 400px;
      height: 400px;
      padding: 20px 30px;
      left: 50px;
    }
  }

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#timeline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3%;
  max-height: 20px;
  background-color: #402100;
  border-bottom: 2px solid #e64025;
}

.timeline-label {
  position: absolute;
  bottom: 1px;
  padding: 0 5px;
  display: inline-block;
  color: #fff;
}
  @media (min-width: 1000px) {
    bottom: -2px;
  }

.timeline-label:nth-of-type(2) {
  right: 0;
}

#date_marker {
  position: absolute;
  bottom: 0;
}

#date_marker::after {
  content: "";
  width: 5px;
  height: 18px;
  margin: 0 auto;
  display: block;
  background-color: #E64025;
}

#stages {
  position: absolute;
  bottom: 5%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#words,
#languages {
  margin: auto;
  padding: 10px;
  /* background-color: rgb(232, 221, 200); */
  /* background-color: rgba(232, 221, 200, 0.7); */
  display: flex;
}
  @media (min-width: 1000px) {
    #words,
    #languages {
      padding: 20px;
    }
  }

#words {
  border-top: 1px solid #40210082;
}

#languages {
  font-family: "Alegreya SC", serif;
}

.time,
.word {
  width: 50px;
  height: 50px;
  line-height: 1;
  text-align: center;
  color: rgb(77, 42, 11);
  color: rgba(77, 42, 11, 0.7);
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
}
  @media (min-width: 1000px) {
    .time,
    .word {
      width: 150px;
    }
  }

.time {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.time:hover,
.time.active {
  font-size: 1.3em;
  color: rgb(77, 42, 11);
}