* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: sans-serif;
  background-color: #000;
}

.search,
.entries {
  position: absolute;
  left: 50px;
  z-index: 1;
  background-color: #fff;
  opacity: 0.9;
}

.search {
  top: 120px;
  padding: 20px 30px 40px;
}

.entries {
  top: 320px;
  width: 400px;
  height: 400px;
  padding: 20px 30px;
  overflow: scroll;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#timeline {
  height: 20px;
  background-color: #16466f;
  border-bottom: 1px solid #3285CA;
}

.timeline-label {
  position: absolute;
  display: inline-block;
  padding: 3px;
  color: #fff;
  font-size: 14px;
}

.timeline-label:nth-of-type(2) {
  right: 0;
}

#date_marker {
  position: absolute;
  color: #fff;
}

#date_marker::before {
  content: "";
  display: block;
  height: 20px;
  width: 5px;
  margin: 0 auto 10px;
  background-color: #00FFFF;
}

#stages {
  position: absolute;
  top: 40px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#words,
#languages {
  margin: auto;
  padding: 20px;
  background-color: rgba(0,0,0,0.5);
}

#words {
  border-top: 1px solid rgba(255,255,255,0.4);
}

.time,
.word {
  font: 16px Georgia;
  line-height: 26px;
  height: 50px;
  text-align: center;
  float: left;
  width: 150px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
}

.time {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.time:hover, .time.active {
  font-size: 23px;
  color: #fff;
}