* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: sans-serif;
  background-color: #000;
}

.search,
.entries {
  position: absolute;
  left: 50px;
  z-index: 1;
  background-color: #fff;
  opacity: 0.9;
}

.search {
  top: 50px;
  padding: 20px 30px 40px;
}

.entries {
  top: 250px;
  width: 400px;
  height: 400px;
  padding: 20px 30px;
  overflow: scroll;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#timeline {
  width: auto;
  position: absolute;
  right: 20px;
  top: 63px;

  background-color: rgba(0,0,0,0.2);

  border-top: 1px solid rgba(255,255,255,0.4);
  padding: 10px;
}

.time {
  font: 16px Georgia;
  line-height: 26px;
  height: 30px;
  text-align: center;
  float: left;
  width: 90px;
  color: rgba(255, 255, 255, 0.4);

  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
}

.time:hover, .time.active {
  font-size: 23px;
  color: #fff;
}